<% if @event.event_data.valid_attributes.has_key? attribute_name %>
    <p>
        <div>
            <%= ff.label attribute_name %> <%= units_label units %>
            <%= ff.number_field attribute_name, class: "form-control" %>
        </div>
    </p>
<% end %>