<% if  @event.event_data.valid_attributes.has_key? attribute_name %>
    <% if not @event.event_data.valid_attributes[attribute_name].nil? %>
        <p>
            <%= attribute_label attribute_name %>:
            <%= @event.event_data.valid_attributes[attribute_name] %>
        </p>
    <% end %>
<% end %>