<p>
    <strong>Datetime:</strong>
    <%= spoodle_date.datetime %>
</p>

<p>
    <%= link_to 'Destroy SpoodleDate', event_spoodle_date_path(@event, spoodle_date), method: :delete, data: { confirm: 'Are you sure?' } %>
</p>