</div>
</div>
</div>

<!-- Script to Activate the Carousel -->
<script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
</script>
<!-- Half Page Image Background Carousel Header -->
<header id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for Slides -->
    <div class="carousel-inner">
        <div class="item active">
            <!-- Set the first background image using inline CSS below. -->
            <div class="fill carousel1"></div>
            <div class="carousel-caption">
                <h2>Welcome to SPOODLE!</h2>
            </div>
        </div>
        <div class="item">
            <!-- Set the second background image using inline CSS below. -->
            <div class="fill carousel2"></div>
            <div class="carousel-caption">
                <h2>The Sports Doodle.</h2>
            </div>
        </div>
        <div class="item">
            <!-- Set the third background image using inline CSS below. -->
            <div class="fill carousel3"></div>
            <div class="carousel-caption">
                <h2>Organize events and exercise with friends.</h2>
            </div>
        </div>
        <div class="item">
            <!-- Set the third background image using inline CSS below. -->
            <div class="fill carousel4"></div>
            <div class="carousel-caption">
                <h2>Have fun!</h2>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>

</header>

<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <% flash.each do |name, msg| %>
                <div class="alert alert-dismissable alert-info">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <%= msg %>
                </div>
            <% end %>
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <h3>Features</h3>
                    <ul>
                        <li>Register an account or sign up with facebook.</li>
                        <li>Create events to exercise with friends.</li>
                        <li>Share the events on social networks.</li>
                        <li>Suggest multiple possible dates for an event.</li>
                        <li>Invited users can assign a value based on their availability per suggested date.</li>
                        <li>Automatically find the most convenient date for everyone.</li>
                        <li>Export upcoming events to a calendar application.</li>
                        <li>Add data like duration or distance to passed events.</li>
                        <li>Add data like a map, duration or distance to passed events.</li>
                        <li>View aggregated statistics about the events you took part at.</li>
                        <li>Completely responsive design for all platforms.</li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-6">
                    <h3>Share</h3>
                    <p>Make SPOODLE even more interesting by spreading the word on social media platforms of your choice! More users means more events to take part! <%= fa_icon 'smile-o' %></p>
                    <div class="social-likes">
                        <div class="facebook" title="Share link on Facebook">Facebook</div>
                        <div class="twitter" title="Share link on Twitter">Twitter</div>
                        <div class="plusone" title="Share link on Google+">Google+</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h3>Getting started</h3>
                    <p><a href="<%= new_user_registration_path %>">Sign up</a> right now to immediately start creating your own events and get invited to other user's events!</p>
                    <h3>About</h3>
                    <p>This web application was developed as a project for the <a href="http://mcs.unibnf.ch/program/courses-timetable/courses/advanced-software-engineering">Advanced Software Engineering course</a> at the University of Fribourg.<br>
                        The lecture is part of the Swiss Joint Master of Science in Computer Science <a href="http://mcs.unibnf.ch/">(SJMCS)</a> program.</p>
                </div>
            </div>


