// Place all the styles related to the Event controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.default{
  content:url("default128.png");
}

.cycling{
  content:url("cycling128.png");
}

.running{
  content:url("running128.png");
}

.soccer{
  content:url("soccer128.png");
}

.boxing{
  content:url("boxing128.png");
}

.default64{
  content:url("default64.png");
}

.cycling64{
  content:url("cycling64.png");
}

.running64{
  content:url("running64.png");
}

.soccer64{
  content:url("soccer64.png");
}

.boxing64{
  content:url("boxing64.png");
}

#examples a {
  text-decoration: underline;
}

.map_canvas {
  width: 100%;
  height: 400px;
  margin: 10px 20px 10px 0;
}

.show {
  height: 300px;
}

.spoodle-date {
  height: 220px;
}

.no-margin {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}