<h1 class="page-header"><%= fa_icon 'bar-chart' %> Data Center</h1>
<div class="panel panel-default">
    <div class="panel-heading">
        Distribution of events by sports you took part at
    </div>
    <div class="panel-body">
        <%= pie_chart @event_sport_data %>
    </div>
</div>
